<ion-header>

  <expandable-header [scrollArea]="myContent">
    <ion-item>
      <ion-label><ion-icon name="search"></ion-icon></ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label><ion-icon name="funnel"></ion-icon></ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </expandable-header>

  <ion-toolbar color="primary">
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" padding #myContent>
    <h2>Hello</h2><h2>Hello</h2><h2>Hello</h2><h2>Hello</h2><h2>Hello</h2><h2>Hello</h2>
    <h2>Hello</h2><h2>Hello</h2><h2>Hello</h2><h2>Hello</h2><h2>Hello</h2><h2>Hello</h2><h2>Hello</h2>
    <h2>Hello</h2><h2>Hello</h2><h2>Hello</h2><h2>Hello</h2><h2>Hello</h2>
</ion-content>
